/* From Uiverse.io by vaibhavchandranv */ 
.card-flip{
  perspective: 1000px;
  min-width: 270px;
  width: 300px;
  height: 450px;
}
.card-inner{
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.card-inner.is-flipped{
  transform: rotateY(180deg);
}
.card-front, .card-back{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  top: 0;
  left: 0;
}
.card-front{
  z-index: 2;
}
.card-back{
  transform: rotateY(180deg);
}

.card {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  height: 100%;
  translate: -6px -6px;
  background: #99dfff;
  border: 3.5px solid #000000;
  box-shadow: 12px 12px 0 #000000;
  overflow: hidden;
  transition: all 0.3s ease;
}
.card a{
  text-decoration: none;
  color: #000000;
}
.card a:hover{
  color: #000000;
}
.card a:visited{
  color: #000000;
}
.card-head {
  font-family: 'Press Start 2P', cursive;
  font-size: 14px;
  font-weight: 900;
  width: 100%;
  height: 32px;
  background: #ffffff;
  padding: 5px 12px;
  color: #000000;
  border-bottom: 3.5px solid #000000;
}
.card-content, .card-date {
  padding: 3px 22px;
  font-size: 14px;
  font-weight: 600;
}
.card-content ul{
  padding: 10px;
}
.card:hover {
  translate: -6px;
}
.card-img-box{
  background-color: #ffc3f4;
  justify-self: center;
  margin: 12px;
  width: 85%;
  height: 200px;
  border: 3.5px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.card-img-box img{
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  object-fit: contain;
}
.card-button{
  position: absolute;
  bottom: 0;
  font-family: 'Press Start 2P', cursive;
  font-size: small;
  width: auto;
  min-width: 0;
  display: inline-block;
  margin-left: 22px;
  margin-bottom: 22px;
  padding: 5px 10px;
  border: 3px solid #000000;
  box-shadow: 3px 3px 0 #000000;
  background: #ff5fd4;
  transition: all 0.3s ease;
}
.card-button:hover {
  translate: 1.5px 1.5px;
  box-shadow: 1.5px 1.5px 0 #000000;
  background: #1ac2ff;
}