.projects-container{
    padding: 40px;
}
.cards{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 40px;
}

@media (max-width: 600px) {
    .projects-container h1{
        justify-self: center;
    }
}