.about-container{
    padding: 40px;
}
.about-container p{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 600;
}
.summary-container{
    display: flex;
    justify-content: center;  
    align-items: center; 
    margin-top: 80px;
    margin-bottom: 20px;
}
.about-pfp img{
    width: 200px;
    margin-right: 40px;
}
.summary{
    width: 600px;
}

@media (max-width: 600px){
    .about-pfp{
        display: none;
    }
}