.about-container{
    padding: 40px;
}
.about-container p{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 600;
}
.summary-container{
    justify-content: center;
    display: flex;
    margin-top: 40px;
}
.about-pfp svg{
    width: 150px;
    margin-right: 40px;
}
.summary{
    width: 600px;
}