.slider-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  
  display: flex;
  justify-content: center; 
  align-items: center;    
}

.next, .prev{
  position: fixed;
  top: 50vh;
}

.prev{
  left: 5vw;
}

.next{
  right: 5vw;
}

.slides{
  background-color: rgb(140, 140, 140);
  width: auto;
  max-width: 70vw;       
  max-height: 90vh;        
  border: 4px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.slides img{
  max-width: 100%;
  height: 100%;
  object-fit: contain;
}

@media (max-width: 600px){
  .next, .prev{
    top: 65vh;
  }

  .prev{
    left: 25vw;
  }

  .next{
    right: 25vw;
  }

  .slides{
    max-width: 100%;
  }
}