body{
    background: linear-gradient(180deg, #ffe5ce, #ffd5c5, #ffc5c4, #fdb6cb, #efabd7, #d5a4e4, #afa2ef, #79a2f2);
    font-family: 'Press Start 2P', cursive;
}
html {
  scroll-behavior: smooth;
}